In [1]:
import pandas as pd
import datetime, time
import numpy as np
from sqlalchemy import create_engine
import os

In [2]:
pd.set_option('display.max_columns', 20)

In [3]:
astr_df = pd.read_csv('astronauts.csv')
spacewalks_df = pd.read_csv('space_walks.csv')
spacemissions_df = pd.read_csv('space_missions.csv')
global_launches_df = pd.read_csv('global_space_launches.csv')

In [22]:
astr_df.head(1)

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,5/17/1967,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaN,NaN

In [ ]:
spacewalks_df.head(1)

In [ ]:
spacemissions_df.head(1)

In [ ]:
global_launches_df.head(1)

## Dropping columns

In [4]:
spacemissions_df.drop(labels=['Unnamed: 0', 'Unnamed: 0.1'], axis=1, inplace=True)
global_launches_df.drop(labels=['DateTime','Year','Month','Day','Time'], axis=1, inplace=True)

## Date conversions

In [5]:
date_df = pd.DataFrame({"Global Launches Dates": global_launches_df.Date, "Spacemissions Dates": spacemissions_df.Datum
                       ,"Spacewalks Dates": spacewalks_df.Date})
date_df.head()

  Global Launches Dates         Spacemissions Dates   Spacewalks Dates
0            07/08/2020  Fri Aug 07, 2020 05:12 UTC         06/03/1965
1            06/08/2020  Thu Aug 06, 2020 04:01 UTC  March 16-17, 1966
2            04/08/2020  Tue Aug 04, 2020 23:57 UTC         06/05/1966
3            30/07/2020  Thu Jul 30, 2020 21:25 UTC         07/19/1966
4            30/07/2020  Thu Jul 30, 2020 11:50 UTC         07/20/1966

In [6]:
date_df.dtypes

Global Launches Dates    object
Spacemissions Dates      object
Spacewalks Dates         object
dtype: object

In [7]:
## Splicing string to get rid of time and timezone
spacemissions_df.Datum = spacemissions_df.Datum.apply(lambda x: x[0:16])

In [8]:
# Built-in Pandas datetime function

global_launches_df.Date = pd.to_datetime(global_launches_df.Date, format='%d/%m/%Y', errors = "coerce")

spacemissions_df.Datum = pd.to_datetime(spacemissions_df.Datum, format= '%a %b %d, %Y', errors='coerce')

spacewalks_df.Date = pd.to_datetime(spacewalks_df.Date, format= "%m/%d/%Y", errors="coerce")

In [9]:
# Re-running date_df to verify conversions were successful

In [10]:
date_df = pd.DataFrame({"Global Launches Dates": global_launches_df.Date, "Spacemissions Dates": spacemissions_df.Datum
                       ,"Spacewalks Dates": spacewalks_df.Date})
date_df.head()

  Global Launches Dates Spacemissions Dates Spacewalks Dates
0            2020-08-07          2020-08-07       1965-06-03
1            2020-08-06          2020-08-06              NaT
2            2020-08-04          2020-08-04       1966-06-05
3            2020-07-30          2020-07-30       1966-07-19
4            2020-07-30          2020-07-30       1966-07-20

In [11]:
date_df.dtypes

Global Launches Dates    datetime64[ns]
Spacemissions Dates      datetime64[ns]
Spacewalks Dates         datetime64[ns]
dtype: object

## Renaming columns for ease of access in pgAdmin

In [24]:
global_launches_df.columns = ['company_name', 'location', 'detail', 'status_rocket', 'rocket',
       'status_mission', 'country_of_launch', 'company_country_origin',
       'private_or_state', 'date']

spacemissions_df.columns = ['company_name', 'location', 'date', 'detail', 'status_rocket',
       'rocket', 'status_mission']

spacewalks_df.columns = ['eva#', 'country', 'crew', 'vehicle', 'date', 'duration', 'purpose']

astr_df.columns = ['name', 'year', 'group', 'status', 'birth_date', 'birth_place',
       'gender', 'alma_mater', 'undergraduate_major', 'graduate_major',
       'military_rank', 'military_branch', 'space_flights',
       'space_flight(hr)', 'space_walks', 'space_walks(hr)', 'missions',
       'death_date', 'death_mission']

## Creating connection to space_db  and converting dataframes to sql tables

In [28]:
password = os.environ.get('postgres_password')

In [15]:
engine = create_engine(f"postgresql://postgres:{password}@localhost:5432/space_db")

In [29]:
global_launches_df.to_sql("global_launches", engine)
spacemissions_df.to_sql("space_missions", engine)

In [30]:
spacewalks_df.to_sql("spacewalks", engine)

In [38]:
spacemissions_df.loc[spacemissions_df.date == '1969-07-20']

Empty DataFrame
Columns: [company_name, location, date, detail, status_rocket, rocket, status_mission]
Index: []

In [37]:
spacewalks_df.head(50)

,eva#,country,crew,vehicle,date,duration,purpose
0,1.0,USA,Ed White,Gemini IV,1965-06-03,0:36,First U.S. EVA. Used HHMU and took photos. G...
1,2.0,USA,David Scott,Gemini VIII,NaT,0:00,HHMU EVA cancelled before starting by stuck on...
2,3.0,USA,Eugene Cernan,Gemini IX-A,1966-06-05,2:07,"Inadequate restraints, stiff 25ft umbilical an..."
3,4.0,USA,Mike Collins,Gemini X,1966-07-19,0:50,Standup EVA. UV photos of stars. Ended by ey...
4,5.0,USA,Mike Collins,Gemini X,1966-07-20,0:39,Retrieved MMOD experiment from docked Agena. ...
5,6.0,USA,Richard Gordon,Gemini XI,1966-09-13,0:44,Attached tether between Agena and Gemini. EVA...
6,7.0,USA,Richard Gordon,Gemini XI,1966-09-14,2:10,Standup EVA. Took star photos. Agena tether ops
7,8.0,USA,Buzz Aldrin,Gemini XII,1966-11-12,2:29,Standup EVA. Science tasks. Took star photos
8,9.0,USA,Buzz Aldrin,Gemini XII,1966-11-13,2:06,Attached tether between Agena and Gemini. UV ...
9,10.0,USA,Buzz Aldrin,Gemini XII,1966-11-14,0:55,Standup EVA. Jettisoned equipment. Took photos
10,11.0,USA,David Scott,Apollo 9,1969-03-06,0:47,Standup EVA from crew module. Retrieved therm...
11,12.0,USA,Russ Schweickart,Apollo 9,1969-03-06,0:51,Lunar module based. Took photos. Evaluated f...
12,13.0,USA,Neil Armstrong|Buzz Aldrin,Apollo 11,1969-07-20,2:32,First to walk on the moon. Some trouble getti...
13,14.0,USA,Neil Armstrong|Buzz Aldrin,Apollo 11,1969-07-20,0:05,Jettison suit backpacks and equip to lighten a...
14,15.0,USA,Allen Bean|Pete Conrad,Apollo 12,1969-11-19,3:39,Collected 75.6 lb of geologic material. ALSEP...
15,16.0,USA,Allen Bean|Pete Conrad,Apollo 12,1969-11-20,3:48,Retrieved parts of Surveyor 3 spacecraft.
16,17.0,USA,Allen Bean|Pete Conrad,Apollo 12,1969-11-20,0:05,Jettison suit backpacks and equip to lighten a...
17,18.0,USA,Ed Mitchell|Alan Shepard,Apollo 14,1971-02-05,4:48,Collected 94.4 lb of geologic material. ALSEP...
18,19.0,USA,Ed Mitchell|Alan Shepard,Apollo 14,1971-02-06,4:34,Sought but did not quite reach crater. Golf demo
19,20.0,USA,Ed Mitchell|Alan Shepard,Apollo 14,1971-02-06,0:05,Jettison suit backpacks and equip to lighten a...
20,21.0,USA,David Scott,Apollo 15,1971-07-30,0:33,Standup EVA to scout and photograph lunar surf...
21,22.0,USA,David Scott|James Irwin,Apollo 15,1971-07-31,6:34,Collected 169 lb of geologic material. ALSEP ...
22,23.0,USA,David Scott|James Irwin,Apollo 15,1971-08-01,7:12,NaN
23,24.0,USA,David Scott|James Irwin,Apollo 15,1971-08-02,4:49,NaN
24,25.0,USA,David Scott|James Irwin,Apollo 15,1971-08-02,0:05,Jettison suit backpacks and equip to lighten a...
25,26.0,USA,Al Worden,Apollo 15,1971-08-05,0:39,First transearth EVA. Retrieved 2 camera film...
26,27.0,USA,John Young|Charles Duke,Apollo 16,1972-04-21,7:11,Collected 208 lb of rock/dust (41lb this day)....
27,28.0,USA,John Young|Charles Duke,Apollo 16,1972-04-22,7:23,Collected 82 lb of rock/dust. Drove rover 11.5 km
28,29.0,USA,John Young|Charles Duke,Apollo 16,1972-04-23,5:40,Collected 90 lb of rock/dust. Drove rover 27....
29,30.0,USA,John Young|Charles Duke,Apollo 16,1972-04-23,0:04,Jettison suit backpacks and equip to lighten a...
30,31.0,USA,Tom Mattingly,Apollo 16,1972-04-25,1:23,Transearth EVA to retrieve camera film and exp...
31,32.0,USA,Harrison Schmidt|Eugene Cernan,Apollo 17,1972-12-11,7:12,Collected 243 lb of geologic material. ALSEP ...
32,33.0,USA,Harrison Schmidt|Eugene Cernan,Apollo 17,1972-12-12,7:37,NaN
33,34.0,USA,Harrison Schmidt|Eugene Cernan,Apollo 17,1972-12-13,7:16,NaN
34,35.0,USA,Harrison Schmidt|Eugene Cernan,Apollo 17,1972-12-13,0:08,Jettison suit backpacks and equip to lighten a...
35,36.0,USA,Ron Evans,Apollo 17,1972-12-17,1:07,Transearth EVA to retrieve camera film
36,37.0,USA,Paul Weitz|Joe Kerwin,Skylab 2,1973-05-25,0:40,Standup EVA. While based in hatch of just arr...
37,NaN,USA,Paul Weitz|Joe Kerwin|Pete Conrad,Skylab 2,1973-05-25,NaN,"After normal docking failed, all donned suits,..."
38,38.0,USA,Pete Conrad|Joe Kerwin,Skylab 2,1973-06-07,3:25,"Without body restraint, initially unable to at..."
39,39.0,USA,Pete Conrad|Paul Weitz,Skylab 2,1973-06-19,1:36,Retrieved Apollo Telescope Mount film and repa...
40,40.0,USA,Owen Garriott|Jack Lousma,Skylab 3,1973-08-06,6:31,Constructed/deployed twin-pole thermal shield ...
41,41.0,USA,Owen Garriott|Jack Lousma,Skylab 3,1973-08-24,4:31,Installed cable for backup gyro package. Exch...
42,42.0,USA,Owen Garriott|Allen Bean,Skylab 3,1973-09-22,2:41,"Recovered telescope camera film, material samp..."
43,43.0,USA,Ed Gibson|Bill Pogue,Skylab 4,1973-11-22,6:33,Photographed earth atmosphere. Deployed space...
44,44.0,USA,Gerald Carr|Bill Pogue,Skylab 4,1973-12-25,7:01,"Photographed comet Kohoutek, reloaded telescop..."
45,45.0,USA,Gerald Carr|Ed Gibson,Skylab 4,1973-12-29,3:29,Photographed comet Kohoutek. Retrieved sample...
46,46.0,USA,Gerald Carr|Ed Gibson,Skylab 4,1974-02-03,5:19,Retrieved telescope camera film and installed ...
47,NaN,USA,Bill Lenoir|Joe Allen,STS-5,1982-11-14,0:00,Suit fan and O2 regulator failures prevented f...
48,47.0,USA,Story Musgrave|Don Peterson,STS-6,1983-04-07,4:17,First shuttle EVA. New suits tested. Basic o...
49,48.0,USA,Bob Stewart|Bruce McCandless,STS-41B,1984-02-07,5:56,Practiced Solar Max repair. Used MMU and MFR f...