In [1]:
import pandas as pd
import datetime, time
import numpy as np

In [2]:
pd.set_option('display.max_columns', 20)

In [3]:
astr_df = pd.read_csv('astronauts.csv')
spacewalks_df = pd.read_csv('space_walks.csv')
spacemissions_df = pd.read_csv('space_missions.csv')
global_launches_df = pd.read_csv('global_space_launches.csv')

In [ ]:
astr_df.head(1)

In [ ]:
spacewalks_df.head(1)

In [ ]:
spacemissions_df.head(1)

In [ ]:
global_launches_df.head(1)

## Dropping columns

In [4]:
spacemissions_df.drop(labels=['Unnamed: 0', 'Unnamed: 0.1'], axis=1, inplace=True)
global_launches_df.drop(labels=['DateTime','Year','Month','Day','Time'], axis=1, inplace=True)

## Date conversions

In [5]:
date_df = pd.DataFrame({"Global Launches Dates": global_launches_df.Date, "Spacemissions Dates": spacemissions_df.Datum
                       ,"Spacewalks Dates": spacewalks_df.Date})
date_df.head()

  Global Launches Dates         Spacemissions Dates   Spacewalks Dates
0            07/08/2020  Fri Aug 07, 2020 05:12 UTC         06/03/1965
1            06/08/2020  Thu Aug 06, 2020 04:01 UTC  March 16-17, 1966
2            04/08/2020  Tue Aug 04, 2020 23:57 UTC         06/05/1966
3            30/07/2020  Thu Jul 30, 2020 21:25 UTC         07/19/1966
4            30/07/2020  Thu Jul 30, 2020 11:50 UTC         07/20/1966

In [6]:
date_df.dtypes

Global Launches Dates    object
Spacemissions Dates      object
Spacewalks Dates         object
dtype: object

In [7]:
## Splicing string to get rid of time and timezone
spacemissions_df.Datum = spacemissions_df.Datum.apply(lambda x: x[0:16])

In [8]:
# Built-in Pandas datetime function

global_launches_df.Date = pd.to_datetime(global_launches_df.Date, format='%d/%m/%Y', errors = "coerce")

spacemissions_df.Datum = pd.to_datetime(spacemissions_df.Datum, format= '%a %b %d, %Y', errors='coerce')

spacewalks_df.Date = pd.to_datetime(spacewalks_df.Date, format= "%m/%d/%Y", errors="coerce")

In [11]:
# Re-running date_df to verify conversions were successful

In [12]:
date_df = pd.DataFrame({"Global Launches Dates": global_launches_df.Date, "Spacemissions Dates": spacemissions_df.Datum
                       ,"Spacewalks Dates": spacewalks_df.Date})
date_df.head()

  Global Launches Dates Spacemissions Dates Spacewalks Dates
0            2020-08-07          2020-08-07       1965-06-03
1            2020-08-06          2020-08-06              NaT
2            2020-08-04          2020-08-04       1966-06-05
3            2020-07-30          2020-07-30       1966-07-19
4            2020-07-30          2020-07-30       1966-07-20

In [13]:
date_df.dtypes

Global Launches Dates    datetime64[ns]
Spacemissions Dates      datetime64[ns]
Spacewalks Dates         datetime64[ns]
dtype: object

## Merging on Date